* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.welcome-message {
    background-color: green;
    border: none;
    border-radius: 0;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.login-prompt {
    background-color: red;
    border: none;
    border-radius: 0;
    padding: 10px;
    margin: 10px;
    text-align: center;
}